@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-horizontal-scrollbar::-webkit-scrollbar {
  display: none; 
}
.hide-horizontal-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #CBCBCB;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #AFAFAF;
}
