@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-horizontal-scrollbar::-webkit-scrollbar {
  display: none; 
}
.hide-horizontal-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}